/**
 * 设置舞台背景图片
 */
.root {     -fx-background-image: url("one_piece.jpg");}

/**
 * 设置风格标签
 * */
.label{
    -fx-font-family: Corbel;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-opacity: 0.9;
}


/*
 *设置标题文本样式
 */
#title{
    -fx-font-size: 32px;
    -fx-font-family: "Arial Blackt";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-opacity: 0.5;
}

/**
 * 设置提示文本样式
 * */
#actiontarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

/**
 * 设置登陆按钮样式
 */
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-opacity: 0.7;
}

.titledPane{
    -fx-opacity: 0.7;
}

.text-field{
    -fx-opacity: 0.7;
}
.tab-pane{
    -fx-opacity: 0.7;
}

.text-area{
    -fx-opacity: 0.7;
}

/*设置登陆按钮悬停样式 */
.button:hover {    -fx-background-color: linear-gradient(#2A5058, #61a2b1);}